/* Write your CSS here */

.apps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  background-repeat: no-repeat;
  background-size: cover;
}

.total-container {
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: 'bree serif';
}

.input-element {
  height: 35px;
  width: 350px;
  border-radius: 7px;
}

.tabs-container {
  display: flex;
  margin: 20px;
  font-family: 'Bree serif';
}

.input-container {
  display: flex;
  justify-content: center;
}

.serach {
    width: 30px
}